<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengbo.dao.ProjectsMapper">
	<resultMap id="BaseResultMap" type="com.fengbo.bean.Projects">
		<id column="ps_id" property="psId" jdbcType="INTEGER" />
		<result column="ps_us_id" property="psUsId" jdbcType="VARCHAR" />
		<result column="ps_pst_id" property="psPstId" jdbcType="INTEGER" />
		<result column="ps_state_id" property="psStateId" jdbcType="INTEGER" />
		<result column="ps_name" property="psName" jdbcType="VARCHAR" />
		<result column="ps_pictureaddress" property="psPictureaddress"
			jdbcType="VARCHAR" />
		<result column="ps_money" property="psMoney" jdbcType="DOUBLE" />
		<result column="ps_getmoney" property="psGetmoney" jdbcType="DOUBLE" />
		<result column="ps_getpeople" property="psGetpeople" jdbcType="INTEGER" />
		<result column="ps_ishot" property="psIshot" jdbcType="INTEGER" />
		<result column="ps_date" property="psDate" jdbcType="DATE" />
		<result column="ps_address" property="psAddress" jdbcType="VARCHAR" />
		<result column="ps_goal" property="psGoal" jdbcType="VARCHAR" />
		<result column="ps_days" property="psDays" jdbcType="INTEGER" />
		<result column="ps_video" property="psVideo" jdbcType="VARCHAR" />
		<result column="ps_story" property="psStory" jdbcType="VARCHAR" />
		<result column="ps_support" property="psSupport" jdbcType="VARCHAR" />
		<result column="ps_repay" property="psRepay" jdbcType="VARCHAR" />
		<result column="ps_aboutme" property="psAboutme" jdbcType="VARCHAR" />
		<result column="ps_starttime" property="psStarttime" jdbcType="DATE" />
		<result column="ps_endtime" property="psEndtime" jdbcType="DATE" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ps_id, ps_us_id, ps_pst_id, ps_state_id, ps_name, ps_pictureaddress,
		ps_money, ps_getmoney,
		ps_getpeople, ps_ishot, ps_date, ps_address, ps_goal, ps_days, ps_video, ps_story,
		ps_support, ps_repay, ps_aboutme, ps_starttime, ps_endtime
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.fengbo.bean.ProjectsExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from projects
		where ps_id = #{psId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from projects
		where ps_id = #{psId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.fengbo.bean.ProjectsExample">
		delete from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.fengbo.bean.Projects">
		insert into projects (ps_id, ps_us_id, ps_pst_id,
		ps_state_id, ps_name, ps_pictureaddress,
		ps_money, ps_getmoney, ps_getpeople,
		ps_ishot, ps_date, ps_address,
		ps_goal, ps_days, ps_video,
		ps_story, ps_support, ps_repay,
		ps_aboutme, ps_starttime, ps_endtime
		)
		values (#{psId,jdbcType=INTEGER}, #{psUsId,jdbcType=VARCHAR},
		#{psPstId,jdbcType=INTEGER},
		#{psStateId,jdbcType=INTEGER}, #{psName,jdbcType=VARCHAR}, #{psPictureaddress,jdbcType=VARCHAR},
		#{psMoney,jdbcType=DOUBLE}, #{psGetmoney,jdbcType=DOUBLE},
		#{psGetpeople,jdbcType=INTEGER},
		#{psIshot,jdbcType=INTEGER}, #{psDate,jdbcType=DATE}, #{psAddress,jdbcType=VARCHAR},
		#{psGoal,jdbcType=VARCHAR}, #{psDays,jdbcType=INTEGER},
		#{psVideo,jdbcType=VARCHAR},
		#{psStory,jdbcType=VARCHAR}, #{psSupport,jdbcType=VARCHAR}, #{psRepay,jdbcType=VARCHAR},
		#{psAboutme,jdbcType=VARCHAR}, #{psStarttime,jdbcType=DATE},
		#{psEndtime,jdbcType=DATE}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.fengbo.bean.Projects">
		insert into projects
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="psId != null">
				ps_id,
			</if>
			<if test="psUsId != null">
				ps_us_id,
			</if>
			<if test="psPstId != null">
				ps_pst_id,
			</if>
			<if test="psStateId != null">
				ps_state_id,
			</if>
			<if test="psName != null">
				ps_name,
			</if>
			<if test="psPictureaddress != null">
				ps_pictureaddress,
			</if>
			<if test="psMoney != null">
				ps_money,
			</if>
			<if test="psGetmoney != null">
				ps_getmoney,
			</if>
			<if test="psGetpeople != null">
				ps_getpeople,
			</if>
			<if test="psIshot != null">
				ps_ishot,
			</if>
			<if test="psDate != null">
				ps_date,
			</if>
			<if test="psAddress != null">
				ps_address,
			</if>
			<if test="psGoal != null">
				ps_goal,
			</if>
			<if test="psDays != null">
				ps_days,
			</if>
			<if test="psVideo != null">
				ps_video,
			</if>
			<if test="psStory != null">
				ps_story,
			</if>
			<if test="psSupport != null">
				ps_support,
			</if>
			<if test="psRepay != null">
				ps_repay,
			</if>
			<if test="psAboutme != null">
				ps_aboutme,
			</if>
			<if test="psStarttime != null">
				ps_starttime,
			</if>
			<if test="psEndtime != null">
				ps_endtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="psId != null">
				#{psId,jdbcType=INTEGER},
			</if>
			<if test="psUsId != null">
				#{psUsId,jdbcType=VARCHAR},
			</if>
			<if test="psPstId != null">
				#{psPstId,jdbcType=INTEGER},
			</if>
			<if test="psStateId != null">
				#{psStateId,jdbcType=INTEGER},
			</if>
			<if test="psName != null">
				#{psName,jdbcType=VARCHAR},
			</if>
			<if test="psPictureaddress != null">
				#{psPictureaddress,jdbcType=VARCHAR},
			</if>
			<if test="psMoney != null">
				#{psMoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetmoney != null">
				#{psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetpeople != null">
				#{psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="psIshot != null">
				#{psIshot,jdbcType=INTEGER},
			</if>
			<if test="psDate != null">
				#{psDate,jdbcType=DATE},
			</if>
			<if test="psAddress != null">
				#{psAddress,jdbcType=VARCHAR},
			</if>
			<if test="psGoal != null">
				#{psGoal,jdbcType=VARCHAR},
			</if>
			<if test="psDays != null">
				#{psDays,jdbcType=INTEGER},
			</if>
			<if test="psVideo != null">
				#{psVideo,jdbcType=VARCHAR},
			</if>
			<if test="psStory != null">
				#{psStory,jdbcType=VARCHAR},
			</if>
			<if test="psSupport != null">
				#{psSupport,jdbcType=VARCHAR},
			</if>
			<if test="psRepay != null">
				#{psRepay,jdbcType=VARCHAR},
			</if>
			<if test="psAboutme != null">
				#{psAboutme,jdbcType=VARCHAR},
			</if>
			<if test="psStarttime != null">
				#{psStarttime,jdbcType=DATE},
			</if>
			<if test="psEndtime != null">
				#{psEndtime,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.fengbo.bean.ProjectsExample"
		resultType="java.lang.Integer">
		select count(*) from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update projects
		<set>
			<if test="record.psId != null">
				ps_id = #{record.psId,jdbcType=INTEGER},
			</if>
			<if test="record.psUsId != null">
				ps_us_id = #{record.psUsId,jdbcType=VARCHAR},
			</if>
			<if test="record.psPstId != null">
				ps_pst_id = #{record.psPstId,jdbcType=INTEGER},
			</if>
			<if test="record.psStateId != null">
				ps_state_id = #{record.psStateId,jdbcType=INTEGER},
			</if>
			<if test="record.psName != null">
				ps_name = #{record.psName,jdbcType=VARCHAR},
			</if>
			<if test="record.psPictureaddress != null">
				ps_pictureaddress = #{record.psPictureaddress,jdbcType=VARCHAR},
			</if>
			<if test="record.psMoney != null">
				ps_money = #{record.psMoney,jdbcType=DOUBLE},
			</if>
			<if test="record.psGetmoney != null">
				ps_getmoney = #{record.psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="record.psGetpeople != null">
				ps_getpeople = #{record.psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="record.psIshot != null">
				ps_ishot = #{record.psIshot,jdbcType=INTEGER},
			</if>
			<if test="record.psDate != null">
				ps_date = #{record.psDate,jdbcType=DATE},
			</if>
			<if test="record.psAddress != null">
				ps_address = #{record.psAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.psGoal != null">
				ps_goal = #{record.psGoal,jdbcType=VARCHAR},
			</if>
			<if test="record.psDays != null">
				ps_days = #{record.psDays,jdbcType=INTEGER},
			</if>
			<if test="record.psVideo != null">
				ps_video = #{record.psVideo,jdbcType=VARCHAR},
			</if>
			<if test="record.psStory != null">
				ps_story = #{record.psStory,jdbcType=VARCHAR},
			</if>
			<if test="record.psSupport != null">
				ps_support = #{record.psSupport,jdbcType=VARCHAR},
			</if>
			<if test="record.psRepay != null">
				ps_repay = #{record.psRepay,jdbcType=VARCHAR},
			</if>
			<if test="record.psAboutme != null">
				ps_aboutme = #{record.psAboutme,jdbcType=VARCHAR},
			</if>
			<if test="record.psStarttime != null">
				ps_starttime = #{record.psStarttime,jdbcType=DATE},
			</if>
			<if test="record.psEndtime != null">
				ps_endtime = #{record.psEndtime,jdbcType=DATE},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update projects
		set ps_id = #{record.psId,jdbcType=INTEGER},
		ps_us_id = #{record.psUsId,jdbcType=VARCHAR},
		ps_pst_id = #{record.psPstId,jdbcType=INTEGER},
		ps_state_id = #{record.psStateId,jdbcType=INTEGER},
		ps_name = #{record.psName,jdbcType=VARCHAR},
		ps_pictureaddress = #{record.psPictureaddress,jdbcType=VARCHAR},
		ps_money = #{record.psMoney,jdbcType=DOUBLE},
		ps_getmoney = #{record.psGetmoney,jdbcType=DOUBLE},
		ps_getpeople = #{record.psGetpeople,jdbcType=INTEGER},
		ps_ishot = #{record.psIshot,jdbcType=INTEGER},
		ps_date = #{record.psDate,jdbcType=DATE},
		ps_address = #{record.psAddress,jdbcType=VARCHAR},
		ps_goal = #{record.psGoal,jdbcType=VARCHAR},
		ps_days = #{record.psDays,jdbcType=INTEGER},
		ps_video = #{record.psVideo,jdbcType=VARCHAR},
		ps_story = #{record.psStory,jdbcType=VARCHAR},
		ps_support = #{record.psSupport,jdbcType=VARCHAR},
		ps_repay = #{record.psRepay,jdbcType=VARCHAR},
		ps_aboutme = #{record.psAboutme,jdbcType=VARCHAR},
		ps_starttime = #{record.psStarttime,jdbcType=DATE},
		ps_endtime = #{record.psEndtime,jdbcType=DATE}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.fengbo.bean.Projects">
		update projects
		<set>
			<if test="psUsId != null">
				ps_us_id = #{psUsId,jdbcType=VARCHAR},
			</if>
			<if test="psPstId != null">
				ps_pst_id = #{psPstId,jdbcType=INTEGER},
			</if>
			<if test="psStateId != null">
				ps_state_id = #{psStateId,jdbcType=INTEGER},
			</if>
			<if test="psName != null">
				ps_name = #{psName,jdbcType=VARCHAR},
			</if>
			<if test="psPictureaddress != null">
				ps_pictureaddress = #{psPictureaddress,jdbcType=VARCHAR},
			</if>
			<if test="psMoney != null">
				ps_money = #{psMoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetmoney != null">
				ps_getmoney = #{psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetpeople != null">
				ps_getpeople = #{psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="psIshot != null">
				ps_ishot = #{psIshot,jdbcType=INTEGER},
			</if>
			<if test="psDate != null">
				ps_date = #{psDate,jdbcType=DATE},
			</if>
			<if test="psAddress != null">
				ps_address = #{psAddress,jdbcType=VARCHAR},
			</if>
			<if test="psGoal != null">
				ps_goal = #{psGoal,jdbcType=VARCHAR},
			</if>
			<if test="psDays != null">
				ps_days = #{psDays,jdbcType=INTEGER},
			</if>
			<if test="psVideo != null">
				ps_video = #{psVideo,jdbcType=VARCHAR},
			</if>
			<if test="psStory != null">
				ps_story = #{psStory,jdbcType=VARCHAR},
			</if>
			<if test="psSupport != null">
				ps_support = #{psSupport,jdbcType=VARCHAR},
			</if>
			<if test="psRepay != null">
				ps_repay = #{psRepay,jdbcType=VARCHAR},
			</if>
			<if test="psAboutme != null">
				ps_aboutme = #{psAboutme,jdbcType=VARCHAR},
			</if>
			<if test="psStarttime != null">
				ps_starttime = #{psStarttime,jdbcType=DATE},
			</if>
			<if test="psEndtime != null">
				ps_endtime = #{psEndtime,jdbcType=DATE},
			</if>
		</set>
		where ps_id = #{psId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fengbo.bean.Projects">
		update projects
		set ps_us_id = #{psUsId,jdbcType=VARCHAR},
		ps_pst_id = #{psPstId,jdbcType=INTEGER},
		ps_state_id = #{psStateId,jdbcType=INTEGER},
		ps_name = #{psName,jdbcType=VARCHAR},
		ps_pictureaddress = #{psPictureaddress,jdbcType=VARCHAR},
		ps_money = #{psMoney,jdbcType=DOUBLE},
		ps_getmoney = #{psGetmoney,jdbcType=DOUBLE},
		ps_getpeople = #{psGetpeople,jdbcType=INTEGER},
		ps_ishot = #{psIshot,jdbcType=INTEGER},
		ps_date = #{psDate,jdbcType=DATE},
		ps_address = #{psAddress,jdbcType=VARCHAR},
		ps_goal = #{psGoal,jdbcType=VARCHAR},
		ps_days = #{psDays,jdbcType=INTEGER},
		ps_video = #{psVideo,jdbcType=VARCHAR},
		ps_story = #{psStory,jdbcType=VARCHAR},
		ps_support = #{psSupport,jdbcType=VARCHAR},
		ps_repay = #{psRepay,jdbcType=VARCHAR},
		ps_aboutme = #{psAboutme,jdbcType=VARCHAR},
		ps_starttime = #{psStarttime,jdbcType=DATE},
		ps_endtime = #{psEndtime,jdbcType=DATE}
		where ps_id = #{psId,jdbcType=INTEGER}
	</update>

	<select id="getHotProjects" resultMap="BaseResultMap">
		SELECT * FROM projects pro LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id WHERE pro.ps_ishot=1 LIMIT 0,8;
	</select>

	<select id="getNewProjects" resultMap="BaseResultMap">
		SELECT * FROM projects pro LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id ORDER BY ps_date DESC LIMIT 0,8;
	</select>


</mapper>