<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengbo.dao.ProjectsMapper">
	<resultMap id="BaseResultMap" type="com.fengbo.bean.Projects">
		<id column="ps_id" property="psId" jdbcType="VARCHAR" />
		<result column="ps_us_id" property="psUsId" jdbcType="VARCHAR" />
		<result column="ps_pst_id" property="psPstId" jdbcType="INTEGER" />
		<result column="ps_state_id" property="psStateId" jdbcType="INTEGER" />
		<result column="ps_patient_relationship" property="psPatientRelationship"
			jdbcType="VARCHAR" />
		<result column="ps_illness_name" property="psIllnessName"
			jdbcType="VARCHAR" />
		<result column="ps_name" property="psName" jdbcType="VARCHAR" />
		<result column="pa_img_name" property="paImgName" jdbcType="VARCHAR" />
		<result column="ps_story" property="psStory" jdbcType="VARCHAR" />
		<result column="ps_money" property="psMoney" jdbcType="DOUBLE" />
		<result column="ps_getmoney" property="psGetmoney" jdbcType="DOUBLE" />
		<result column="ps_getpeople" property="psGetpeople" jdbcType="INTEGER" />
		<result column="ps_days" property="psDays" jdbcType="INTEGER" />
		<result column="ps_ishot" property="psIshot" jdbcType="INTEGER" />
		<result column="ps_starttime" property="psStarttime" jdbcType="TIMESTAMP" />
		<result column="ps_endtime" property="psEndtime" jdbcType="DATE" />
		<result column="ps_check_sign" property="psCheckSign" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ps_id, ps_us_id, ps_pst_id, ps_state_id,
		ps_patient_relationship,
		ps_illness_name,
		ps_name, pa_img_name,
		ps_story, ps_money, ps_getmoney, ps_getpeople, ps_days,
		ps_ishot,
		ps_starttime, ps_endtime, ps_check_sign
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.fengbo.bean.ProjectsExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from projects
		where ps_id = #{psId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		projects
		where ps_id = #{psId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.fengbo.bean.ProjectsExample">
		delete from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.fengbo.bean.Projects">
		insert into projects (ps_id,
		ps_us_id, ps_pst_id,
		ps_state_id, ps_patient_relationship,
		ps_illness_name,
		ps_name, pa_img_name, ps_story,
		ps_money, ps_getmoney,
		ps_getpeople,
		ps_days, ps_ishot, ps_starttime,
		ps_endtime,
		ps_check_sign)
		values (#{psId,jdbcType=VARCHAR},
		#{psUsId,jdbcType=VARCHAR},
		#{psPstId,jdbcType=INTEGER},
		#{psStateId,jdbcType=INTEGER},
		#{psPatientRelationship,jdbcType=VARCHAR},
		#{psIllnessName,jdbcType=VARCHAR},
		#{psName,jdbcType=VARCHAR},
		#{paImgName,jdbcType=VARCHAR}, #{psStory,jdbcType=VARCHAR},
		#{psMoney,jdbcType=DOUBLE}, #{psGetmoney,jdbcType=DOUBLE},
		#{psGetpeople,jdbcType=INTEGER},
		#{psDays,jdbcType=INTEGER},
		#{psIshot,jdbcType=INTEGER}, #{psStarttime,jdbcType=TIMESTAMP},
		#{psEndtime,jdbcType=DATE}, #{psCheckSign,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.fengbo.bean.Projects">
		insert into projects
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="psId != null">
				ps_id,
			</if>
			<if test="psUsId != null">
				ps_us_id,
			</if>
			<if test="psPstId != null">
				ps_pst_id,
			</if>
			<if test="psStateId != null">
				ps_state_id,
			</if>
			<if test="psPatientRelationship != null">
				ps_patient_relationship,
			</if>
			<if test="psIllnessName != null">
				ps_illness_name,
			</if>
			<if test="psName != null">
				ps_name,
			</if>
			<if test="paImgName != null">
				pa_img_name,
			</if>
			<if test="psStory != null">
				ps_story,
			</if>
			<if test="psMoney != null">
				ps_money,
			</if>
			<if test="psGetmoney != null">
				ps_getmoney,
			</if>
			<if test="psGetpeople != null">
				ps_getpeople,
			</if>
			<if test="psDays != null">
				ps_days,
			</if>
			<if test="psIshot != null">
				ps_ishot,
			</if>
			<if test="psStarttime != null">
				ps_starttime,
			</if>
			<if test="psEndtime != null">
				ps_endtime,
			</if>
			<if test="psCheckSign != null">
				ps_check_sign,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="psId != null">
				#{psId,jdbcType=VARCHAR},
			</if>
			<if test="psUsId != null">
				#{psUsId,jdbcType=VARCHAR},
			</if>
			<if test="psPstId != null">
				#{psPstId,jdbcType=INTEGER},
			</if>
			<if test="psStateId != null">
				#{psStateId,jdbcType=INTEGER},
			</if>
			<if test="psPatientRelationship != null">
				#{psPatientRelationship,jdbcType=VARCHAR},
			</if>
			<if test="psIllnessName != null">
				#{psIllnessName,jdbcType=VARCHAR},
			</if>
			<if test="psName != null">
				#{psName,jdbcType=VARCHAR},
			</if>
			<if test="paImgName != null">
				#{paImgName,jdbcType=VARCHAR},
			</if>
			<if test="psStory != null">
				#{psStory,jdbcType=VARCHAR},
			</if>
			<if test="psMoney != null">
				#{psMoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetmoney != null">
				#{psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetpeople != null">
				#{psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="psDays != null">
				#{psDays,jdbcType=INTEGER},
			</if>
			<if test="psIshot != null">
				#{psIshot,jdbcType=INTEGER},
			</if>
			<if test="psStarttime != null">
				#{psStarttime,jdbcType=TIMESTAMP},
			</if>
			<if test="psEndtime != null">
				#{psEndtime,jdbcType=DATE},
			</if>
			<if test="psCheckSign != null">
				#{psCheckSign,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.fengbo.bean.ProjectsExample"
		resultType="java.lang.Integer">
		select count(*) from projects
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update projects
		<set>
			<if test="record.psId != null">
				ps_id = #{record.psId,jdbcType=VARCHAR},
			</if>
			<if test="record.psUsId != null">
				ps_us_id = #{record.psUsId,jdbcType=VARCHAR},
			</if>
			<if test="record.psPstId != null">
				ps_pst_id = #{record.psPstId,jdbcType=INTEGER},
			</if>
			<if test="record.psStateId != null">
				ps_state_id = #{record.psStateId,jdbcType=INTEGER},
			</if>
			<if test="record.psPatientRelationship != null">
				ps_patient_relationship =
				#{record.psPatientRelationship,jdbcType=VARCHAR},
			</if>
			<if test="record.psIllnessName != null">
				ps_illness_name =
				#{record.psIllnessName,jdbcType=VARCHAR},
			</if>
			<if test="record.psName != null">
				ps_name = #{record.psName,jdbcType=VARCHAR},
			</if>
			<if test="record.paImgName != null">
				pa_img_name = #{record.paImgName,jdbcType=VARCHAR},
			</if>
			<if test="record.psStory != null">
				ps_story = #{record.psStory,jdbcType=VARCHAR},
			</if>
			<if test="record.psMoney != null">
				ps_money = #{record.psMoney,jdbcType=DOUBLE},
			</if>
			<if test="record.psGetmoney != null">
				ps_getmoney = #{record.psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="record.psGetpeople != null">
				ps_getpeople = #{record.psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="record.psDays != null">
				ps_days = #{record.psDays,jdbcType=INTEGER},
			</if>
			<if test="record.psIshot != null">
				ps_ishot = #{record.psIshot,jdbcType=INTEGER},
			</if>
			<if test="record.psStarttime != null">
				ps_starttime = #{record.psStarttime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.psEndtime != null">
				ps_endtime = #{record.psEndtime,jdbcType=DATE},
			</if>
			<if test="record.psCheckSign != null">
				ps_check_sign = #{record.psCheckSign,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update projects
		set ps_id = #{record.psId,jdbcType=VARCHAR},
		ps_us_id =
		#{record.psUsId,jdbcType=VARCHAR},
		ps_pst_id =
		#{record.psPstId,jdbcType=INTEGER},
		ps_state_id =
		#{record.psStateId,jdbcType=INTEGER},
		ps_patient_relationship =
		#{record.psPatientRelationship,jdbcType=VARCHAR},
		ps_illness_name =
		#{record.psIllnessName,jdbcType=VARCHAR},
		ps_name =
		#{record.psName,jdbcType=VARCHAR},
		pa_img_name =
		#{record.paImgName,jdbcType=VARCHAR},
		ps_story =
		#{record.psStory,jdbcType=VARCHAR},
		ps_money =
		#{record.psMoney,jdbcType=DOUBLE},
		ps_getmoney =
		#{record.psGetmoney,jdbcType=DOUBLE},
		ps_getpeople =
		#{record.psGetpeople,jdbcType=INTEGER},
		ps_days =
		#{record.psDays,jdbcType=INTEGER},
		ps_ishot =
		#{record.psIshot,jdbcType=INTEGER},
		ps_starttime =
		#{record.psStarttime,jdbcType=TIMESTAMP},
		ps_endtime =
		#{record.psEndtime,jdbcType=DATE},
		ps_check_sign =
		#{record.psCheckSign,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.fengbo.bean.Projects">
		update projects
		<set>
			<if test="psUsId != null">
				ps_us_id = #{psUsId,jdbcType=VARCHAR},
			</if>
			<if test="psPstId != null">
				ps_pst_id = #{psPstId,jdbcType=INTEGER},
			</if>
			<if test="psStateId != null">
				ps_state_id = #{psStateId,jdbcType=INTEGER},
			</if>
			<if test="psPatientRelationship != null">
				ps_patient_relationship =
				#{psPatientRelationship,jdbcType=VARCHAR},
			</if>
			<if test="psIllnessName != null">
				ps_illness_name = #{psIllnessName,jdbcType=VARCHAR},
			</if>
			<if test="psName != null">
				ps_name = #{psName,jdbcType=VARCHAR},
			</if>
			<if test="paImgName != null">
				pa_img_name = #{paImgName,jdbcType=VARCHAR},
			</if>
			<if test="psStory != null">
				ps_story = #{psStory,jdbcType=VARCHAR},
			</if>
			<if test="psMoney != null">
				ps_money = #{psMoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetmoney != null">
				ps_getmoney = #{psGetmoney,jdbcType=DOUBLE},
			</if>
			<if test="psGetpeople != null">
				ps_getpeople = #{psGetpeople,jdbcType=INTEGER},
			</if>
			<if test="psDays != null">
				ps_days = #{psDays,jdbcType=INTEGER},
			</if>
			<if test="psIshot != null">
				ps_ishot = #{psIshot,jdbcType=INTEGER},
			</if>
			<if test="psStarttime != null">
				ps_starttime = #{psStarttime,jdbcType=TIMESTAMP},
			</if>
			<if test="psEndtime != null">
				ps_endtime = #{psEndtime,jdbcType=DATE},
			</if>
			<if test="psCheckSign != null">
				ps_check_sign = #{psCheckSign,jdbcType=VARCHAR},
			</if>
		</set>
		where ps_id = #{psId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fengbo.bean.Projects">
		update projects
		set ps_us_id = #{psUsId,jdbcType=VARCHAR},
		ps_pst_id =
		#{psPstId,jdbcType=INTEGER},
		ps_state_id =
		#{psStateId,jdbcType=INTEGER},
		ps_patient_relationship =
		#{psPatientRelationship,jdbcType=VARCHAR},
		ps_illness_name =
		#{psIllnessName,jdbcType=VARCHAR},
		ps_name =
		#{psName,jdbcType=VARCHAR},
		pa_img_name =
		#{paImgName,jdbcType=VARCHAR},
		ps_story = #{psStory,jdbcType=VARCHAR},
		ps_money = #{psMoney,jdbcType=DOUBLE},
		ps_getmoney =
		#{psGetmoney,jdbcType=DOUBLE},
		ps_getpeople =
		#{psGetpeople,jdbcType=INTEGER},
		ps_days = #{psDays,jdbcType=INTEGER},
		ps_ishot = #{psIshot,jdbcType=INTEGER},
		ps_starttime =
		#{psStarttime,jdbcType=TIMESTAMP},
		ps_endtime =
		#{psEndtime,jdbcType=DATE},
		ps_check_sign =
		#{psCheckSign,jdbcType=VARCHAR}
		where ps_id = #{psId,jdbcType=VARCHAR}
	</update>

	<select id="getHotProjects" resultMap="BaseResultMap">
		SELECT * FROM projects pro
		LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id WHERE
		pro.ps_ishot=1 AND ps_state_id=2 LIMIT 0,8;
	</select>

	<select id="getNewProjects" resultMap="BaseResultMap">
		SELECT * FROM projects pro
		LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id WHERE
		ps_state_id=2 ORDER BY
		ps_starttime DESC LIMIT 0,8;
	</select>

	<select id="getReadyProjects" resultMap="BaseResultMap">
		SELECT * FROM projects
		pro
		LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id WHERE
		pro.ps_state_id=1 LIMIT 0,4;
	</select>

	<select id="getSucProjects" resultMap="BaseResultMap">
		SELECT * FROM projects pro
		LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id WHERE
		pro.ps_state_id=3 LIMIT 0,4;
	</select>

	<select id="getAllProjects" resultMap="BaseResultMap">
		SELECT * FROM
		projects pro LEFT JOIN USER u ON pro.ps_us_id=u.us_id LEFT JOIN
		projectstype pst ON pro.ps_pst_id=pst.pst_id LEFT JOIN projectsstate
		pss ON pro.ps_state_id=pss.st_id
	</select>

	<select id="getPojectByPstId" resultMap="BaseResultMap">
		SELECT * FROM projects
		pro
		LEFT JOIN projectsstate pros ON
		pro.ps_state_id=pros.st_id where
		ps_pst_id=#{psPstId,jdbcType=INTEGER}
	</select>

	<select id="getOneDetailBypsId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from projects p LEFT JOIN user u ON
		p.ps_us_id=u.us_id
		where ps_id = #{psId,jdbcType=VARCHAR}
	</select>

	<insert id="addProject" parameterType="com.fengbo.bean.Projects">
		insert into projects
		(ps_id,
		ps_us_id, ps_pst_id,
		ps_state_id, ps_patient_relationship,
		ps_illness_name,
		ps_name, pa_img_name, ps_story,
		ps_money, ps_getmoney,
		ps_getpeople,
		ps_days, ps_ishot, ps_starttime,
		ps_endtime,
		ps_check_sign)
		values (#{psId,jdbcType=VARCHAR},
		#{psUsId,jdbcType=VARCHAR},
		#{psPstId,jdbcType=INTEGER},
		1,
		#{psPatientRelationship,jdbcType=VARCHAR},
		#{psIllnessName,jdbcType=VARCHAR},
		#{psName,jdbcType=VARCHAR},
		#{paImgName,jdbcType=VARCHAR},
		#{psStory,jdbcType=VARCHAR},
		0,
		0,
		#{psGetpeople,jdbcType=INTEGER},
		#{psDays,jdbcType=INTEGER},
		0,
		#{psStarttime,jdbcType=TIMESTAMP},
		#{psEndtime,jdbcType=DATE}, 0)
	</insert>

	<select id="getAllCheckProjects" resultMap="BaseResultMap">
		SELECT * FROM
		projects pro LEFT JOIN USER u ON pro.ps_us_id=u.us_id LEFT JOIN
		projectstype pst ON pro.ps_pst_id=pst.pst_id WHERE pro.ps_state_id=1
		AND pro.ps_check_sign=0
	</select>

	<update id="checkProjectsPass" parameterType="com.fengbo.bean.Projects">
		UPDATE projects
		SET
		ps_state_id =
		2,
		ps_starttime=
		NOW(),
		ps_endtime =
		DATE_ADD(NOW(),INTERVAL
		ps_days DAY),
		ps_check_sign =
		1
		WHERE ps_id =#{psId,jdbcType=VARCHAR}
	</update>

	<update id="checkProjectsNoPass" parameterType="com.fengbo.bean.Projects">
		UPDATE projects
		SET
		ps_check_sign =
		2
		WHERE ps_id =#{psId,jdbcType=VARCHAR}
	</update>
	
	<update id="addMoney" parameterType="com.fengbo.bean.Projects">
		UPDATE projects
		SET
		ps_getmoney = ps_getmoney + #{psGetmoney,jdbcType=DOUBLE},
		ps_getpeople = ps_getpeople + 1
		WHERE ps_id =#{psId,jdbcType=VARCHAR}
	</update>





</mapper>